.footer {
	background-color: #333333;
	padding: 40px 0 50px;
    color: #fff;
}	


.footer__corypthing {
	p:first-child {
		color: #fff;
		display: block;
		font-size: 16px;
		line-height: 1.4; 
		margin-bottom: 10px;	
	}

	p {
		color: #B0B0B0;
		font-size: 16px;
		line-height: 1.5;
	}

	a {
		font-size: 16px;
		line-height: 1.5;
		text-decoration-line: underline;
		color: #fff;
		transition: all 0.4s ease-in;

		&:hover {
			transform: scale(0.95);
		}
	}
}
    
