.header{
    padding: 68px 0 82px;
}

.flex__wrapper {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 100px;
}

.nav-list__item {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
}

.header-social {
    display: flex;
    column-gap: 26px;
    align-items: center;
}


