.header{
    padding: 68px 0 82px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 100px;
}

.nav-list__item {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    transition: all 0.4s ease-in;
}

.nav-list__item:hover {
    transform: scale(0.88);
    color: #030303;
}

.header-social {
    display: flex;
    column-gap: 26px;
    align-items: center;
}

.header-logo {
    display: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%; 
}

.header__burger-menu {
    display: none;
    position: relative;
    width: 40px;
    height: 25px;
}

.header__burger-menu span {
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: #000;
    left: 0;
}

.header__burger-menu span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-menu span:nth-child(3) {
    transform: translateY(10px);
}

.socials {
    display: none;
}

.link {
    display: none;
}


/* Tablet */
@media (max-width: 1199px) {
    
}

/* Mobile */
@media (max-width: 899px) {

    .header-logo {
        display: block;
    }

    .header-social {
        display: none;
    }

    .header__burger-menu {
        display: block;
    }


    .nav {
        width: 320px;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 0;
        background-color: blueviolet;
        padding: 30px 15px 40px;

        .nav-list {
            display: block;
        }

    }

    .socials {
        display: flex;
        column-gap: 20px
    }

    .svg-inst {
        width: 40.5px;
        height: 40.5px;
    }

    .link {
        display: block;
    };
}

/* Mobile XS */
@media (max-width: 599px) {
    
}